<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('layouts/head.ejs') -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar.ejs') -%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/img/create.webp')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>New Post</h1>
              <span
                style="font-style: italic; font-weight: 600"
                class="subheading"
              ></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p></p>
            <div class="my-5">
              <form
                action="/posts/store"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="title"
                    name="title"
                    type="text"
                    placeholder="Title"
                  />
                  <label>Title</label>
                </div>
                <div class="form-floating">
                  <label for="description">Description</label>
                  <textarea
                    class="form-control"
                    id="body"
                    name="body"
                    placeholder="Enter your description here..."
                    style="height: 12rem"
                  ></textarea>
                  <script>
                    $('#body').summernote({
                      placeholder: 'Share your knowledge...',
                      tabsize: 2,
                      height: 200,
                    });
                  </script>
                </div>
                <!-- <div class="form-floating">
                  <input
                    class="form-control"
                    id="image"
                    name="image"
                    type="file"
                  />
                  <label>Image</label>
                </div> -->
                <br />
                <!-- Submit Button-->
                <button class="btn btn-primary" id="submitButton" type="submit">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <%- include('layouts/footer.ejs') -%>

    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts.ejs') -%>
  </body>
</html>
